<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
<style>
*{
    box-sizing: border-box;
}
.clm{
    float: left;
    width: 30%;
    padding: 3px;
}
.clm img{
    height: 300px;
}
</style>
</head>
<h2 align="center">
    Product Details
</h2>
{% for dest in dests %}
<div class ="row">
    <div class ="clm">
        {% if dest.productimage %}
        <img src="/media/{{dest.productimage}}" alt="" style="width:100%"/>
        <h5 align="center">
            {% if dest.large %}
            <div class="spec_offer"><a href="#">large</a></div>
            {% endif %}
            {% if dest.small %}
            <div class="spec_offer"><a href="#">small</a></div>
            {% endif %}
            {% if dest.medium %}
            <div class="spec_offer"><a href="#">medium</a></div>
            {% endif %}
            <br>
            <div class="destination_name"><a>{{dest.productname}}</a></div>
		    <div class="destination_productdescrip"><p>{{dest.productdesc}}</p></div>
		    <div class="destination_productprice">From ${{dest.productprice}}</div>
        </h5>
        {% endif %}
    </div>
</div>
{% endfor %}
</html>